<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.creator_">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Creator_">
        <activity android:name=".Profile.ProfileInfActivity"></activity>
        <activity android:name=".InsideBooks.FragmentsContentsBook.Books.BookToolsActivity" />
        <activity android:name=".PlayActivities.ReaderActivity" />
        <activity android:name=".InsideBooks.FragmentsContentsBook.UserLib.OwnerBookToolsActivity" />
        <activity android:name=".UserArchive.AddActivity.AddBookActivity" />
        <activity
            android:name=".UserArchive.FragmentArchive.ArchivivesActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".StatisticsActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".GlobalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Creator_" />
        <activity android:name=".Auth.RegistrationActivity" />
        <activity android:name=".Auth.LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>